/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f0fff0;
  background-color: #565856;
}

a {
  color: #059411;
  text-decoration: none;
}

a:hover {
  color: rgb(54, 103, 50);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.float{
  display:none;

}

.my-float{
	margin-top:22px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #059411;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: rgb(255, 255, 255);
  line-height: 0;
}

.back-to-top:hover {
  background: #000000;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}


@media (max-width: 768px) {
  .float{
    display: block;
    position:fixed;
    z-index: 996;
    width:84.9%;
    height:40px;
    line-height: -1;
    bottom:0px;
    border-top-left-radius: 20px;
    background: #059411;
    color:#FFF;
   
    text-align:center;
    box-shadow: -1px -2px 3px rgb(0, 0, 0);
  }

  
.float i {
  font-size: 20px;
  color: #fff;
  
}
  
  .my-float{
    margin-top:22px;
  }

  .back-to-top {
    box-shadow: -1px -2px 3px rgb(0, 0, 0);
    visibility: visible;
    opacity: 1;
    right: 0px;
    bottom: 0px;
    z-index: 996;
    background: #072507;
    color: #000000;
    width: 15%;
    height: 40px;
    border-top-right-radius: 20px;

   
  }

  .back-to-top:hover {
    background: rgb(0, 59, 3);
    color: rgb(0, 0, 0);
  }

  
  
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fdfffd;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  

}


#header.header-scrolled {
  padding: 15px 0;
  box-shadow: 0px 2px 3px rgb(0, 0, 0);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
#header .logo img{
  /* border-radius: 30px; */
  height: 100px;

}
#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header .logo a {
  color: #111111;
}


@media (max-width: 992px) {
  #header .logo a {
   font-size: 17px;
  }
}

@media (max-width: 280px) {
  #header .logo a {
   font-size: 0px;
  }
}

#header .logo a span {
  color: #00ac0e;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Get Startet Button
--------------------------------------------------------------*/
.get-started-btn {
  margin-left: 30px;
  background: #059411;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: 0.3s;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
 
}

.get-started-btn:hover {
  background: #000000;
  color: #fff;
}

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  /* border-radius: 12px; */
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #111111;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #059411;

}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #059411;

}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #000000;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 80px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #059411;
  border-radius: 50%;
}

.navbar-mobile ul {
  display: block;
  
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: rgb(255, 255, 255);
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #111111;
}

.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #2dca0e;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #059411;

}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}






#hero {
  width: 100%;
  height: 100vh;
  background: url("/assets/img/11/14.jpg") top ;
  background-size:cover;
  position: relative;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .container {
  position: relative;
  padding-top: 74px;
  text-align: center;
}
#hero h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#hero h1 span {
  color: #059411;
}
#hero h2 {
  color: rgba(255, 255, 255, 0.9);
  margin: 10px 0 0 0;
  font-size: 24px;
}
#hero .icon-box {
  padding: 30px 20px;
  transition: ease-in-out 0.3s;
  border: 3px solid rgba(255, 255, 255, 0.3);
  height: 100%;
  text-align: center;
}
#hero .icon-box .iconify {
  font-size: 36px;
  line-height: 1;
  color: #059411;
}

#hero .icon-box h3 {
  font-weight: 700;
  margin: 10px 0 0 0;
  padding: 0;
  line-height: 1;
  font-size: 20px;
  line-height: 26px;
}
#hero .icon-box h3 a {
  color: #fff;
  transition: ease-in-out 0.3s;
}
#hero .icon-box h3 a:hover {
  color: #059411;
}
#hero .icon-box:hover {
  border-color: #059411;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero {
    height: auto;
  }
  #hero h1 {
    font-size: 30px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 20px;
    line-height: 24px;
  }

}
@media (max-width: 415px) {

  #hero .icon-box h3 {
    font-size: 10px;
  
  }
  #hero .icon-box {
    padding: 20px 0px;     
  }
}

@media (max-width: 290px) {

  #hero .icon-box h3 {
    font-size: 10px;
  
  }
  #hero .icon-box {
    padding: 10px 0px;     
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background:    #059411;
  ;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}

.section-bg {
  padding: 120px 0;
  color: #fff;
}

.section-bg:before {
  content: "";
  background: #1b1b1b;
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
}



/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgb(76, 75, 75);
  opacity: 1;
  border: 1px solid    #0a1907;
  ;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #059411;
}
.clients .swiper-slide{

  background-color: #059411;
  box-shadow: 2px 3px 2px rgb(25, 25, 25);
 border-radius: 15px;
 height: 140px;
 min-width: 100px;
}

.clients .swiper-slide img {

  opacity: 1;
  transition: 0.3s;
  filter: none;
  border-radius: 15px;
  height: 100px;
  width: 300px;
  
}

.clients .swiper-slide img:hover {
  opacity: 1;
  
  filter: grayscale(100);
  
  
}

.clients .swiper-test  {

  padding-top: 5px;
  color: hsl(0, 0%, 100%);
  transition: 0.3s;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  
  
}

 @media (max-width: 540px) {
  .clients .swiper-slide{
    max-width: 120px;

    width:120px;
   height:120px;
   
  }

  .clients .swiper-slide img {


    height: 90px;
    width:120px;
    
  }

  } 

  @media (max-width: 280px) {
    .clients .swiper-slide{
     margin-right: 10px;
     max-width: 90px;
     min-width: 90px;
     height:90px;
     width: 90px;
    }
  
    .clients .swiper-slide img {
  
  
      height: 60px;
      width:90px;
      
    }
  
    }

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .container {
  position: relative;
  z-index: 10;
}

.about .content {
  padding: 30px 30px 30px 0;
}

.about .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.about .content p {
  margin-bottom: 30px;
}

.about .content .about-btn {
  padding: 8px 30px 9px 30px;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  border: 2px solid #48e03a;
}

.about .content .about-btn i {
  font-size: 16px;
  padding-left: 5px;
}

.about .content .about-btn:hover {
  background: #10a927;
  background: #09941e;
}

.about .icon-boxes .icon-box {
  margin-top: 30px;
}

.about .icon-boxes .icon-box i {
  font-size: 40px;
  color: #4de03a;
  margin-bottom: 10px;
}

.about .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.about .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

@media (max-width: 1200px) {
  .about .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .about {
    text-align: center;
  }
}




/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-container {
  text-align: center;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;

}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 18px 12px 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 3px;
  border-color: #000000;
  border-width: 3px;
  border-style: solid;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  margin: 0 4px 10px 4px;

  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  background: #059411;
  color: #fff;
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  border-color: #059411;
  width: 300px;
  height: 300px;
  margin-left: 55px;
}



.portfolio .portfolio-wrap img {
   
  height: 300px;
  width: 300px;

}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(21, 21, 21, 0.877);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info h2 {
  font-size: 27px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info h3 {
  font-size: 22px;
  color: rgb(226, 225, 225);
  font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}
.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #059411;
}
.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}
.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}



@media (max-width: 768px) {

  .portfolio .portfolio-wrap {

    height: 250px;
    width: 250px;
    margin-left: 45px;
  

  
  }

  .portfolio .portfolio-wrap img {
   
    height: 250px;
    width: 250px;
  
  }
  }
  @media (max-width: 1024px) {

    .portfolio .portfolio-wrap {
  
      height: 250px;
      width: 250px;
      margin-left: 25px;
    
  
    
    }}
  @media (max-width: 540px) {

    .portfolio .portfolio-wrap {
  
      height: 250px;
      width: 250px;
      margin-left: 125px;
    
  
    
    }}

  @media (max-width: 450px) {

    .portfolio .portfolio-wrap {
  
      height: 250px;
      width: 250px;
      margin-left: 65px;
    
  
    
    }}
  

    @media (max-width: 360px) {

      .portfolio .portfolio-wrap {
    
        height: 250px;
        width: 250px;
        margin-left: 50px;
      
    
      
      }}
  @media (max-width: 280px) {

    .portfolio .portfolio-wrap {
  
      height: 240px;
      width: 240px;
      margin-left: 10px;
    
  
    
    }
  
    .portfolio .portfolio-wrap img {
     
      height: 240px;
      width: 240px;
    
    }

    .portfolio .portfolio-wrap .portfolio-info h2 {
      font-size: 25px;
      color: #fff;
      font-weight: 600;
    }

    .portfolio .portfolio-item .btn-danger {
      font-size: 15px;
      color: rgb(81, 42, 42);
      font-weight: 600;
    }

   
    }



/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #111111;
  margin: 0 3px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: #e03a3c;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .social a:hover {
  background: #111111;
}

.team .member .social i {
  font-size: 18px;
  line-height: 0;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #111111;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #ffffff;
  background-color: rgb(238, 238, 238);
  text-align: center;
  box-shadow: 3px 3px 2px rgb(0, 0, 0);
  padding: 40px 0 32px 0;
  border-radius: 4px;
  /* width: 80%; */
  margin: 20px;
  
}


.contact .info-box i {
  font-size: 32px;
  color: #059411;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted rgb(0, 138, 44);
}

.contact .info-box h3 {
  font-size: 20px;
  color: #4a4949;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 0;
  color: #201f1f;
  font-weight: bold;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  border-radius: 4px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 25px;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #111111;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #06b300;
  border: 0;
  padding: 10px 32px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #55e350;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 14px;
  background: #111111;
  margin-bottom: 30px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #1b1b1b;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
  color: #059411;
}

#footer .footer-top .footer-contact p {
  font-size: 25px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::after {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: rgb(72, 224, 58);
  bottom: 0;
  left: 0;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: white;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #aaaaaa;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #fff;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 5px 10px;
  position: relative;
  border-radius: 4px;
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: rgb(72, 224, 58);
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: rgb(109, 221, 99);
}

#footer .credits {
  padding-top: 5px;
  font-size: 17px;
}

#footer .social-links a {
  font-size: 22px;
  display: inline-block;
  background: #2b2b2b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #0e6f1b;
  color: #fff;
  text-decoration: none;
}


.section-bg1 {

  
}

.section-bg1:before {
  content: "";
  background: #1b1b1b;
  position: absolute;
  bottom: 60px;
  top: -40px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);

}





.testimonials .testimonial-item {
  padding: 0px 0;
  text-align: center;
  background-position: top top;
  background-size: cover;
  position: relative;
  margin: auto;
  border-radius: 10px;
  border-color: #00ac0e;
  border-width: 0px;
  border-style: solid;
  box-shadow:  0px 2px 1px 1px #767676;
  width: 200px ;

}

.testimonials .testimonial-item img {
  max-height: 150px;
  max-width: 200px;
  min-height: 150px;
  min-width: 200px;
  border-radius: 10px;
}

.testimonials .testimonial-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  
}



.testimonials .testimonial-item .quote-icon-left {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: bold;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  margin: 5px;
  position: relative;
}


.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0.5;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #059411;
  opacity: 1;
}
@media (min-width: 1024px) {
  .testimonials {
    background-attachment: fixed;
  }
}
@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}


/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
max-width: 500px;
max-height: 1000px;
border-width: 6px;
border-color: #000000;
border-style: solid;
border-radius: 10px;
margin: 30px;
box-shadow: 0px 0px 3px 6px #059411;
;
}



.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #059411;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #059411;
  
}

.portfolio-details .portfolio-details-slider.swiper-slide.member-img{
size: 50px;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  background-color: #000000;
  box-shadow: 0px 0 30px rgba(17, 17, 17, 0.08);
  border-radius: 20px;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;

}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}



/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  
  padding: 15px 0;
  background: #2b2b2b;
  min-height: 40px;
  margin-top: 82px;
  color: #fff;
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 500;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 20px;
}

.breadcrumbs ol a {
  color: #aaaaaa;
}

.breadcrumbs ol a:hover {
  color: #fff;
  transition: 0.3s;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #21d805;
  content: "/";
}



@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');


.modal-header{
  background-color: #059411;
  color: white;
  text-align: center;
}
.modal-footer{
  background-color: #059411;
}

.card {
    position: relative;
    display: flex;
    padding: 20px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 10px solid #00c400;
    border-radius: 11px;
    /* -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgb(182, 212, 183); */
    /* box-shadow: 0px 0px 5px 0px rgb(161, 164, 162) */
}

.media{
  margin-left: 190px;
}
@media (max-width: 1200px) {
  .media{
    margin-left: 100px;
  }
}

@media (max-width: 768px) {
  .media{
    margin-left: 0px;
  }
}
.media img {
    width: 50px;
    height: 50px;
    

}
.media1 img {
  width: 50px;
  height: 50px;
  

}

.reply a {
    text-decoration: none
}








